<% layout('layout/boilerplate')%>

    <h1>Resume Show</h1>

    <h2><%= resume.name %></h2>
    <h3><%= resume.phoneNumber %></h3>
    <h4><%= resume.email %></h4>
    <h5 class="text-muted"><%= resume.author %> </h5>

    <%  if( currentUser && resume.author.equals(currentUser._id))  {%>
    <div class="card-body">
        <a class="card-link btn btn-info" href="/resumes/<%=resume._id%>/edit">Edit</a>
        <form class="d-inline" action="/resumes/<%=resume._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
    <% } %>