<% layout('layout/boilerplate')%>

<link rel="stylesheet" href="/stylesheets/design.css">   
     
<h1>Commercial Designs</h1>

<a id="all-designs-button" href="/designs" class="btn btn-lg btn-primary mb-3">All Designs</a>
<% if(currentUser && currentUser._id == "60d294755bcdbf2c28ce125d") {%>
    <a id="design-button" href="/designs/new" class="btn btn-primary mb-3">New Design</a>
    <% } %> 

<div class="container">
    <div class="d-flex flex-row justify-content-evenly flex-wrap">

<% for(let design of designs){ %>
    <% if(design.category == 'Commercial') { %> 
    <div class="card mb-3">
        <div class="row">
            <div class="col-12 mb-3">
                <%if(design.images.length) {%>
                    <img class="img-fluid" alt="" src="<%=design.images[0].url%>">
                    <% }else {%>
                    <img class="img-fluid" alt=""
                        src="https://res.cloudinary.com/bryce-test-env/image/upload/v1622741040/YelpCamp/ktm7ywhmm54fdhxu4gax.jpg">
                    <% } %>
                </div>
                <div class="col-12">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= design.title %>
                    </h4>
                    <p class="card-text">
                        <%= design.description %>
                    </p>
                    <a href="/designs/<%= design._id %>" class="btn btn-primary">View <%= design.title %></a>
                </div>
                <div class="card-footer text-muted">&copy; Bryce Hoover</div>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>
    </div>
    </div>