<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/photo.css">

<% if(currentUser && currentUser._id == process.env.ADMIN_ID) {%>
  <a id="photo-button" href="/photography/new" class="btn btn-primary mb-2">New Photo</a>
  <% } %> 
  <h1>Photography</h1>
<div id="map" style="width:84%; height: 250px" class="mb-5 offset-1"></div>

    
    
<div class="container">
  <div class="d-flex flex-row justify-content-evenly flex-wrap">
      
      
       
    <% for(let photo of photos){ %>
      <div class="card text-white mb-3">
        <%if(photo.images.length) {%>
          <img class="img-fluid" alt="" src="<%=photo.images[0].url%>">
          <% }else {%>
          <img class="img-fluid" alt=""
              src="https://res.cloudinary.com/bryce-test-env/image/upload/v1622741040/YelpCamp/ktm7ywhmm54fdhxu4gax.jpg">
          <% } %>
          <a href="/photography/<%= photo._id %>">
        <div class="card-img-overlay">
          <h6 id="shot-info" class="card-title"><%= photo.description %></h6>
          <p id="copyright" class="small card-text">&copy; Bryce Hoover</p>
        </div>
        </a>
      </div>
      <% } %> 


  </div>
</div>
  

      <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const photos = { features: <%- JSON.stringify(photos) %>}
    </script>

<script src="/javascripts/clusterMap.js"></script>