<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/photo.css">
<h1>Photography</h1>
<% if(currentUser && currentUser._id == "60d294755bcdbf2c28ce125d") {%>
  <a id="photo-button" href="/photography/new" class="btn btn-primary mb-2">New Photo</a>
  <% } %> 
<div id="map" style="width:70%; height: 350px" class="mb-3 offset-2"></div>
    
    
    <div class="container">
    <div class="d-flex flex-row justify-content-evenly flex-wrap">
      
      
       
    <% for(let photo of photos){ %>
      <div class="card mb-3">
          <div class="row">
            <div class="col-12 mb-3">            
                <%if(photo.images.length) {%>
                    <img class="img-fluid" alt="" src="<%=photo.images[0].url%>">
                    <% }else {%>
                    <img class="img-fluid" alt=""
                        src="https://res.cloudinary.com/bryce-test-env/image/upload/v1622741040/YelpCamp/ktm7ywhmm54fdhxu4gax.jpg">
                    <% } %>
              </div>
              <div class="col-6">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= photo.name %>
                  </h5>
                <p class="card-text">
                  <%= photo.description %>
                </p>
                <p class="card-text">
                    <small class="text-muted">
                      <%= photo.author %>
                    </small>
                </p>
                <a href="/photography/<%= photo._id %>" class="btn btn-primary">View <%= photo.name %></a>
                </div>
              </div>
            </div>
          </div>
      <% } %> 
    </div>
  </div>
  

      <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const photos = { features: <%- JSON.stringify(photos) %>}
    </script>

<script src="/javascripts/clusterMap.js"></script>