<% layout('layout/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/show.css">


    <div class="row">
        <div class="col-6 offset-3">
            <h1><%= contact.author.username %>'s Contact Request</h1>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= contact.subject%>
                        </h5>
                        <p class="card-text">
                            <%= contact.message%>
                        </p>
                        <p class="card-text text-muted">
                            <%= contact.email%>
                        </p>
                        <p class="card-text text-muted">
                            <%= contact.phone%>
                        </p>
                    </div>
                    <% if(currentUser && contact.author.equals(currentUser._id)) { %>
                        <div class="card-body">
                            <a class="card-link btn btn-info" href="/contact/<%=contact._id%>/edit">Edit</a>
                            <form class="d-inline" action="/contact/<%=contact._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <% } else { %>
                            <div class="card-body">
                                <a id="contact-button" href="/contact" class="btn btn-primary">All Projects</a>
                            </div>
                    <% } %> 
                </div>        
        </div>
    </div>
